{% extends "index.html" %}

{% block content %}
    <div class="content-section">
        <form action="" method="POST">
            <fieldset class="form-control">
                <legend class="border-bottom mb-4">Log In</legend>
                <div class="form-g">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="name@example.com">
                    </div>
                                    
                    <div class="mb-3">
                        <label for="pwd" class="form-label">Password</label>
                        <input type="text" class="form-control" id="pwd" placeholder="password">
                    </div>
                                    
                    <input type="button" class="btn btn-primary" value="Log In">
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}
